.time-show {
	display: inline-block;
	line-height: 50px;
	span {
		padding: 0 15px;
		font-size: 14px;
		color: #485465;
		letter-spacing: 1px;
	}

	p {
		width: 150px;
		height: 33px;
		line-height: 33px;
		display: inline-block;
		background: #F0F3F5;
		border-radius: 3px;
		font-family: PingFangTC-Regular;
		font-size: 14px;
		color: #485465;
		text-align: center;
	}
}
